@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:ital,wght@0,500;0,700;1,300&family=Raleway:wght@300;400;500&family=Roboto:ital,wght@0,300;0,500;0,700;1,300&family=Suez+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.content { 
width: 1440px;
margin: 0 auto;
box-sizing: border-box;
background-color: white;
}
.poloska{
    background-color: #E4DCCB;
    height: 100px;
}
a{
    text-decoration: none;
}
.aa:hover{
    font-weight:bold;
}
li{
    list-style: none;
}
header{
    height: 100px;
    background-color: #E4DCCB;
    position: fixed;
    width: 100%;
    
}
.main_1{
    padding-top: 70px;
}
.navigation{
    display: flex;
    justify-content: space-between;
    width: 600px;
    padding-top: 30px;
    margin-left: 850px;
}
.a1{
    font-family: 'Raleway';
    font-size: 23px;
    font-weight: 500;
    color: black;
}
.p_name{
    font-family: 'Raleway';
    font-size: 40px;
    font-weight: 600;
    text-align: center;
    margin-top: 70px;
}
.p_zam{
    font-family: 'Raleway';
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
}
.main_2{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    width: 1240px;
    margin-left: 50px;
}
.main_2_text_1{
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 500;
    line-height: 55px;
    text-align: justify;
}
.main_2_text_quote{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 400px;
}
.palka{
    background-color: grey;
    width: 1px;
    height: 190px;
}
.quote_text{
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 300;
    line-height: 45px;
    text-align: justify;
    font-style: italic;
}
.quote_name{
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 5000;
    margin-left: 210px;
    margin-top: 20px;
}
.zubry{
    width: 44%;
    height: 44%;
}
.main_2_text{
    margin-top: 40px;
}
.h{
    margin-top: 100px;
    font-family: 'Raleway';
    font-size: 35px;
    text-align: center;
    font-weight: 600;
}
.main_4_blok{
    display: flex;
    justify-content: space-between;
    width: 1240px;
    margin-left: 100px;
    margin-top: 50px;
}
.blok{
    background: rgba(246, 234, 206, 0.25);
    border: 7px solid #E4DCCB;
    width: 400px;    
}
.blok_text{
    font-family: 'Raleway';
    font-size: 23px;
    font-weight: 500;
    line-height: 40px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}
.main_5{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 1240px;
    margin-left: 100px;
}
.documents_img{
    height:550px;
}
.documents_img {
        transition: 1s; 
        border: 7px solid #E4DCCB;
            }
            .documents_img:hover {
                transform: scale(1.05); 
            }
.text_documents{
    font-family: 'Raleway';
    font-size: 25px;
    font-weight: 500;
    margin-top: 15px;
    color: black;
    text-align: center;
}
footer{
    background-color: #E4DCCB;
    height: 100px;
    margin-top: 100px;
}
.navigation1{
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-top: 30px;
    margin-left: 980px;
}
@media screen and (max-width: 1921px) {
    .content { 
        width:650px;
        }
        header{
            height: 50px;   
        }
        .main_1{
            padding-top: 30px;
        }
        .navigation{
            width: 400px;
            padding-top: 15px;
            margin-left: 370px;
        }
        .a1{
            font-size: 13px;
        }
        .p_name{
            font-size: 23px;
            margin-top: 40px;
        }
        .p_zam{
            font-size: 17px;
            font-weight: 500;
            text-align: center;
            margin-top: 15px;
        }
        .main_2{
            margin-top: 30px;
            width: 650px;
            margin-left: 0px;
        }
        .main_2_text_1{
            font-size: 14px;
            line-height: 30px;
            margin-top: -10px;
        }
        .main_2_text_quote{
            margin-top: 20px;
            width: 260px;
        }
        .palka{
            width: 0.7px;
            height: 90px;
        }
        .quote_text{
            font-size: 14px;
            font-weight: 300;
            line-height: 25px;
        }
        .quote_name{
            font-size: 14px;
            margin-left: 150px;
            margin-top: 0px;
        }
        .zubry{
            width: 40%;
            height: 40%;
        }
        .main_2_text{
            margin-top: 30px;
        }
        .h{
            margin-top: 30px;
            font-size: 18px;
        }
        .main_4_blok{
            width: 650px;
            margin-left: 0px;
            margin-top: 30px;
        }
        .blok{
            border: 4px solid #E4DCCB;
            width: 210px;    
        }
        .blok_text{
            font-size: 12px;
            line-height: 25px;
            margin-left: 10px;
            margin-right: 10px;
        }
        .main_5{
            margin-top: 30px;
            width: 650px;
            margin-left: 0px;
        }
        .documents_img{
            height:300px;
        }
        .documents_img {
                transition: 0.8s; 
                border: 4px solid #E4DCCB;
                    }
        .text_documents{
            font-size: 14px;
            margin-top: 10px;
        }
        footer{
            height: 70px;
            margin-top: 50px;
        }
        .navigation1{
            width: 150px;
            padding-top: 25px;
            margin-left: 500px;
        }
}
@media screen and (max-width: 1025px) {
    .content { 
        width: 800px;
        }
        .poloska{
            height: 100px;
        }
        header{
            height: 60px;
        }
        .main_1{
            padding-top: 30px;
        }
        .navigation{
            width: 400px;
            padding-top: 20px;
            margin-left: 250px;
        }
        .a1{
            font-size: 16px;
        }
        .p_name{
            font-size: 25px;
            margin-top: 70px;
        }
        .p_zam{
            font-size: 22px;
        }
        .main_2{
            margin-top: 30px;
            width: 700px;
            margin-left: 100px;
        }
        .main_2_text_1{
            font-size: 15px;
            line-height: 30px;
        }
        .main_2_text_quote{
            margin-top: 60px;
            width: 200px;
        }
        .palka{
            width: 1px;
            height: 120px;
        }
        .quote_text{
            font-size: 15px;
            line-height: 25px;
        }
        .quote_name{
            font-size: 15px;
            margin-left: 150px;
            margin-top: 20px;
        }
        .zubry{
            width: 30%;
            height: 30%;
        }
        .main_2_text{
            margin-top: 30px;
        }
        .h{
            margin-top: 80px;
            font-size: 25px;
        }
        .main_4_blok{
            width: 800px;
            margin-left: 80px;
            margin-top: 30px;
        }
        .blok{
            border: 5px solid #E4DCCB;
            width: 200px;    
        }
        .blok_text{
            font-size: 15px;
            line-height: 30px;
            margin-left: 7px;
            margin-right: 7px;
        }
        .main_5{
            margin-top: 30px;
            width: 800px;
            margin-left: 80px;
        }
        .documents_img{
            height:300px;
        }
        .documents_img {
                transition: 1s; 
                border: 5px solid #E4DCCB;
                    }
                    .documents_img:hover {
                        transform: scale(1.05); 
                    }
        .text_documents{
            font-size: 15px;
        }
        footer{
            height: 100px;
            margin-top: 100px;
        }
        .navigation1{
            width: 100px;
            padding-top: 30px;
            margin-left: 500px;
        }
}
@media screen and (max-width: 426px) {
    .site{
        width: 425px;
    }
    .content { 
        width:390px;
        }
        header{
            height: 30px;   
        }
        .main_1{
            padding-top: 30px;
        }
        .navigation{
            width: 240px;
            padding-top: 5px;
            margin-left: 100px;
        }
        .a1{
            font-size: 7px;
        }
        .p_name{
            font-size: 15px;
            margin-top: 20px;
        }
        .p_zam{
            font-size: 13px;
            margin-top: 10px;
        }
        .main_2{
            flex-direction: column;
            margin-top: 20px;
            width: 390px;
            margin-left: 0px;
        }
        .main_2_text_1{
            font-size: 11px;
            line-height: 20px;
            margin-top: -10px;
            margin-left: 50px;
            width: 390px;
        }
        .main_2_text_quote{
            margin-top: 10px;
            width: 260px;
        }
        .palka{
            width: 0.5px;
            height: 80px;
            margin-left: 50px;
        }
        .quote_text{
            font-size: 10px;
            line-height: 23px;
            margin-left: 0px;
        }
        .quote_name{
            font-size: 10px;
            margin-left: 120px;
            margin-top: 0px;
        }
        .zubry{
            width: 45%;
            height: 45%;
            margin-left: 110px;
        }
        .main_2_text{
            margin-top: 30px;
        }
        .h{
            margin-top: 30px;
            font-size: 15px;
        }
        .main_4_blok{
            flex-direction: column;
            height: 530px;
            width: 650px;
            margin-left: 90px;
            margin-top: 20px;
        }
        .blok{
            border: 3px solid #E4DCCB;
            width: 210px;    
        }
        .blok_text{
            font-size: 11px;
            line-height: 20px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
        }
        .main_5{
            flex-direction: column;
            margin-top: 20px;
            width: 650px;
            margin-left: 0px;
            margin-top: 10px;
        }
        .documents_img{
            width: 210px;
            margin-left: 90px;
            margin-top: 10px;
        }
        .documents_img {
                transition: 0.8s; 
                border: 3px solid #E4DCCB;
                    }
        .text_documents{
            font-size: 12px;
            margin-top: 5px;
            margin-left: -260px;
        }
        footer{
            height: 40px;
            margin-top: 40px;
        }
        .navigation1{
            width: 90px;
            padding-top: 10px;
            margin-left: 160px;
        }
}
@media screen and (max-width: 376px) {
    .content { 
        width:350px;
        }
        header{
            height: 25px;   
            width: 375px;
        }
        .main_1{
            padding-top: 25px;
        }
        .navigation{
            width: 180px;
            padding-top: 0px;
            margin-left: 100px;
        }
        .a1{
            font-size: 7px;
        }
        .p_name{
            font-size: 13px;
            margin-top: 15px;
            margin-right: 50px;
        }
        .p_zam{
            font-size: 11px;
            margin-top: 10px;
            margin-right: 50px;
        }
        .main_2{
            flex-direction: column;
            margin-top: 20px;
            width: 350px;
        }
        .main_2_text_1{
            font-size: 11px;
            line-height: 20px;
            margin-top: -10px;
            margin-left: 50px;
            width: 390px;
        }
        .main_2_text_quote{
            margin-top: 10px;
            width: 260px;
        }
        .palka{
            width: 0.5px;
            height: 80px;
            margin-left: 50px;
        }
        .quote_text{
            font-size: 10px;
            line-height: 23px;
            margin-left: 0px;
        }
        .quote_name{
            font-size: 10px;
            margin-left: 120px;
            margin-top: 0px;
        }
        .zubry{
            width: 50%;
            height: 50%;
            margin-left: 70px;
        }
        .main_2_text{
            margin-top: 30px;
            margin-left: -30px;
        }
        .h{
            margin-top: 30px;
            font-size: 15px;
            margin-left: -50px;
        }
        .main_4_blok{
            flex-direction: column;
            height: 530px;
            width: 650px;
            margin-left: 45px;
            margin-top: 20px;
        }
        .blok{
            border: 3px solid #E4DCCB;
            width: 210px;    
        }
        .blok_text{
            font-size: 11px;
            line-height: 20px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
        }
        .main_5{
            flex-direction: column;
            margin-top: 20px;
            width: 650px;
            margin-left: -45px;
            margin-top: 10px;
        }
        .documents_img{
            width: 210px;
            margin-left: 90px;
            margin-top: 10px;
        }
        .documents_img {
                transition: 0.8s; 
                border: 3px solid #E4DCCB;
                    }
        .text_documents{
            font-size: 12px;
            margin-top: 5px;
            margin-left: -260px;
        }
        footer{
            height: 40px;
            margin-top: 40px;
        }
        .navigation1{
            width: 90px;
            padding-top: 10px;
            margin-left: 140px;
        }
}
@media screen and (max-width: 321px) {
    .content { 
        width:300px;
        }
        header{
            height: 25px;   
            width: 320px;
        }
        .main_1{
            padding-top: 25px;
        }
        .navigation{
            width: 180px;
            padding-top: 0px;
            margin-left: 80px;
        }
        .a1{
            font-size: 7px;
        }
        .p_name{
            font-size: 13px;
            margin-top: 15px;
            margin-left: -50px;
        }
        .p_zam{
            font-size: 11px;
            margin-top: 10px;
            margin-left: -50px;
        }
        .main_2{
            flex-direction: column;
            margin-top: 20px;
            width: 300px;
        }
        .main_2_text_1{
            font-size: 11px;
            line-height: 20px;
            margin-top: -10px;
            margin-left: 0px;
            width: 320px;
        }
        .main_2_text_quote{
            margin-top: 10px;
            width: 200px;
        }
        .palka{
            width: 0.5px;
            height: 80px;
            margin-left: 0px;
        }
        .quote_text{
            font-size: 10px;
            line-height: 23px;
            margin-left: 0px;
        }
        .quote_name{
            font-size: 10px;
            margin-left: 120px;
            margin-top: 0px;
        }
        .zubry{
            width: 50%;
            height: 50%;
            margin-left: 0px;
        }
        .main_2_text{
            margin-top: 30px;
            margin-left: -30px;
        }
        .h{
            margin-top: 30px;
            font-size: 15px;
            margin-left: -100px;
        }
        .main_4_blok{
            flex-direction: column;
            height: 530px;
            width: 300px;
            margin-left: 0px;
            margin-top: 20px;
        }
        .blok{
            border: 3px solid #E4DCCB;
            width: 210px;    
        }
        .blok_text{
            font-size: 11px;
            line-height: 20px;
            margin-left: 10px;
            margin-right: 10px;
            text-align: justify;
        }
        .main_5{
            flex-direction: column;
            margin-top: 20px;
            width: 300px;
            margin-top: 10px;
        }
        .documents_img{
            width: 210px;
            margin-left: 47px;
            margin-top: 10px;
        }
        .documents_img {
                transition: 0.8s; 
                border: 3px solid #E4DCCB;
                    }
        .text_documents{
            font-size: 12px;
            margin-top: 5px;
            margin-left: 0px;
        }
        footer{
            height: 40px;
            margin-top: 40px;
        }
        .navigation1{
            width: 90px;
            padding-top: 10px;
            margin-left: 120px;
        }
}
